.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  max-width: 500px;
}

.text-muted {
  font-size: 11px;
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: 4rem;
  }
}

