<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <p>
        We’ve made things simpler for you! Now you can see live inventory, check
        prices in real-time, and complete your order online.
      </p>

      <button class="btn btn-success btn-lg my-3" routerLink="/products"><i class="bi bi-cart2"></i> Order Online</button>

      <p>You can also download and use the price list in Excel.</p>

      <span tooltip="temporarily unavailable" placement="top">
      <button class="btn btn-primary btn-lg my-3 disabled">
        <i class="bi bi-file-earmark-arrow-down"></i> Download Price List
      </button></span>

      <p>This price list is updated twice a day.</p>
      <p class="text-muted mt-5">Press CTRL + D (Windows) or CMD + D (Mac) to bookmark this page.</p>
    </div>
  </div>
</div>
